<div class="w-full h-full">
  <mat-card style="background: none; box-shadow: none">
    <mat-card-title class="p-5">Dashboard</mat-card-title>
  </mat-card>
  <br />
  <div class="flex flex-row gap-3">
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Total Category :</div>
        <div class="text-gray-700 text-2xl">{{ categoryLength }}</div>
        <p>
          <button
            class="text-center p-2 text-white bg-gray-500 rounded-md"
            [routerLink]="['/dashboard/category']"
          >
            View Category
          </button>
        </p>
      </div>
    </div>
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Total Product :</div>
        <div class="text-gray-700 text-2xl">{{ productLength }}</div>
        <p>
          <button
            class="text-center p-2 text-white bg-gray-500 rounded-md"
            [routerLink]="['/dashboard/product']"
          >
            View Product
          </button>
        </p>
      </div>
    </div>
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Total Bill :</div>
        <div class="text-gray-700 text-2xl">{{ billLength }}</div>
        <p>
          <button
            class="text-center p-2 text-white bg-gray-500 rounded-md"
            [routerLink]="['/dashboard/bill']"
          >
            View Bill
          </button>
        </p>
      </div>
    </div>
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Number of Users:</div>
        <div class="text-gray-700 text-2xl">{{ userLength }}</div>
        <p>
          <button
            class="text-center p-2 text-white bg-gray-500 rounded-md"
            [routerLink]="['/dashboard/user']"
          >
            View Users
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
