.active-link {
    background-color: #ef4444; // Tailwind's red-500
    color: white;
    width: 100%;
    
    padding:15px;
    border-radius: 15px;
  }
  
  mat-list-item {
    &:hover {
      background-color: #f3f4f6; // Light gray background on hover
    }
  }