<h1 class="text-3xl font-semibold text-gray-800 mb-6">Airbnb Seller</h1>

<table
  class="min-w-full table-auto border-collapse border border-gray-300 shadow-md rounded-lg"
>
  <thead>
    <tr class="bg-gray-100 border-b border-gray-300">
      <th class="text-left px-4 py-2 font-medium text-gray-600">ID</th>
      <th class="text-left px-4 py-2 font-medium text-gray-600">
        Display Name
      </th>
      <th class="text-left px-4 py-2 font-medium text-gray-600">Email</th>
      <th class="text-left px-4 py-2 font-medium text-gray-600">
        Display Image
      </th>
      <th class="text-center px-4 py-2 font-medium text-gray-600">Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr
      class="hover:bg-gray-50 border-b border-gray-200"
      *ngFor="let user of seller$ | async"
    >
      <td class="px-4 py-2 text-gray-800">{{ user.id }}</td>
      <td class="px-4 py-2">
        <input
          [(ngModel)]="user.displayName"
          class="border border-gray-300 rounded px-2 py-1 w-full"
        />
      </td>
      <td class="px-4 py-2 text-gray-800 truncate max-w-xs">
        {{ user.email }}
      </td>
      <td class="px-4 py-2 text-gray-800">
        <img
          [src]="user.image"
          alt="User Image"
          class="rounded-full w-10 h-10 object-cover"
        />
      </td>
      <td class="px-4 py-2 text-center">
        <button
          (click)="openDeleteDialog(user.id)"
          class="bg-red-500 hover:bg-red-600 text-white font-medium px-4 py-2 m-2 rounded"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div
  *ngIf="isDialogOpen"
  class="fixed inset-0 flex items-center justify-center bg-gray-500 bg-opacity-50 z-50"
>
  <div class="bg-white rounded-lg shadow-lg p-6">
    <h2 class="text-lg font-bold mb-4">Confirm Deletion</h2>
    <p>Are you sure you want to delete this user?</p>
    <div class="mt-4 flex justify-end">
      <button
        class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded mr-2"
        (click)="isDialogOpen = false; airbnbToDelete = null"
      >
        Cancel
      </button>
      <button
        class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded"
        (click)="handleDelete(true)"
      >
        Delete
      </button>
    </div>
  </div>
</div>
